body {
    font-size: 1.3rem;
    background-color: aliceblue;
}

.mainContainer {
    display: flex;
    height:80vh;
    justify-content: center;
    align-items: center;
   
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 2rem;
    width: 30vw;
    justify-content: flex-start;
    align-items: first baseline;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;;
}

.inputField {
    display: flex;
    flex-direction: column;
    /* gap:1rem; */
}

.input {
    margin-bottom: 1rem;
    height: 2vh;
    width:2vw;
   
}

.button {
    padding: .5rem 2rem;
    background-color: blueviolet;
    border: transparent;
    color: white;
    font-weight: bolder;
    font-size: larger;
    border-radius: 5px;
}

@media only screen and (max-width:768px){
    .mainContainer {
        height: 100vh;
        display: flex;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 55vw;
    }

}

@media only screen and (max-width:425px){
    body {
        font-size: 1rem;
    }
    .container {
        gap:.5rem;
    }
    
}

@media only screen and (max-width:320px){
    body {
        font-size: 0.8rem;
    }

    .input {
        height:2vh;
        width:2vw;
    }

}

